body {
	background-color: black;
	text-color:yellow;
}
h1 {
	color:lightblue;
	font-family: couries;
	font-size: 160%;
}
h2 {
	color:black;
	font-family: couries;
	font-size: 400%;
}
class-name {
	background-color: black;
}